<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Karen Ortega - Desarrolladora/Diseñadora</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../public/css/mystyles.css">
  <link rel="stylesheet" href="..//public/css/style.css">

  <script src="../public/js/script.js"></script>
</head>
<body class="is-family-primary">
  <!-- Barra de Navegación -->
  <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- <a class="navbar-item" href="https://bulma.io">
          <img src="..//public/img/Diseño_sin_título__2_-removebg-preview.png" width="112" height="28">
        </a> -->
  
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navMenu" class="navbar-menu is-white">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item">
            <i class="fas fa-home" aria-hidden="true" style="margin-right: 5px;" ></i>
            Inicio
          </a>
        </div>
  
        <div class="navbar-item">
          <a class="navbar-item">
            Sobre mi
          </a>
        </div>
  
        <div class="navbar-item">
          <a class="navbar-item">
            Proyectos
          </a>
        </div>
  
        <div class="navbar-item">
          <a class="navbar-item">
            Contacto
          </a>
        </div>
  
        <div class="navbar-item">
          <a class="button is-primary is-outlined is-rounded">
            <strong>Descargar cv</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sección inicio -->
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-one-third boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image is-256x256 has-text-centered"> 
              <img  src="..//public/img/imagen2.png" alt="Karen Ortega">
            </figure>
          </div>
          <div class="column has-text-centered">
            <h1 class="title is-1 has-text-weight-bold">Karen Ortega</h1>
            <h2 class="subtitle is-6">Desarrolladora / Diseñadora</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
 <!-- Sección de Presentación -->
 <section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">¡Hola! Soy Karen Ortega</h1>
      <p class="subtitle is-4">Apasionada por la tecnología y el diseño UX.</p>
      <p>
        Soy una entusiasta de la tecnología y la programación, con un fervor inigualable por el aprendizaje y la innovación. Comencé mi viaje en el mundo de la programación en 2019, a los 16 años. Desde entonces, me he sumergido en la creación de software, explorando diversas tecnologías.
        
        A los 20 años, estoy expandiendo mis horizontes hacia el diseño de experiencia de usuario (UX), un campo que combina la creatividad con la funcionalidad. 
        
        Mi objetivo es utilizar mi pasión y habilidades para crear soluciones de software que hagan la vida de las personas más fácil y agradable. ¡Bienvenidos a mi portafolio! Aquí podrán ver un reflejo de mi viaje, habilidades y compromiso con la excelencia en la tecnología. ¡Espero que disfruten el recorrido!</p>
    </div>
  </div>
</section>

<!-- Sección de Habilidades y Educación -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column"><div class="box">
        <h2 class="title is-5">Programadora</h2>
        <p>Apasionada del desarrollo con habilidades en JavaScript, HTML, CSS, PHP, Java, Kotlin, MySQL, entre otras. Utilizo herramientas como Git, GitHub, Sublime Text y Visual Studio Code y xampp. </p>
      
      </div>
    </div>
      <div class="column">
        <div class="box">
        <h2 class="title is-5">Diseñadora</h2>
        <p>Apasionado por crear experiencias excepcionales de usuario. conocientos en diseño UX/UI para web, aplicaciones y logotipos con herramientas como Figma, Adobe XD y Balsamiq.</p>
      </div>
    </div>
      <div class="column">
        <div class="box">
        <h2 class="title is-5">Educación</h2>
        <p>Título técnico en programación de software.</p> <p>Tecnólogo en análisis y desarrollo de sistemas de información.</p> <p>Certificado de Diseño de Experiencia del Usuario (UX) de Google.</p>
      </div>
    </div>
    </div>
  </div>
</section> 



  <!-- Sección de Proyectos -->
  <section class="section">
    <div class="container">
      <h1 class="title is-4">Mis Proyectos</h1>
      <div class="columns is-multiline">
        <!-- Caja 1 -->
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
          <div class="box boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image  has-text-centered mx-auto">
              <img src="..//public/img/foodiebook.png" alt="Proyecto 1">
            </figure>
            <div class="overlay">
              <p>Ver más</p>
            </div>
          </div>
        </div>
        <!-- Caja 2 -->
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
          <div class="box boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image  has-text-centered mx-auto">
              <img src="..//public/img/panaderia.png" alt="Proyecto 1">
            </figure>
            <div class="overlay">
              <p>Ver más</p>
            </div>
          </div>
        </div>
  
        <!-- Caja 3 -->
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
          <div class="box boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image  has-text-centered mx-auto">
              <img src="..//public/img/aves.png" alt="Proyecto 1">
            </figure>
            <div class="overlay">
              <p>Ver más</p>
            </div>
          </div>
        </div>
  
        <!-- Caja 4 -->
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
          <div class="box boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image  has-text-centered mx-auto">
              <img src="..//public/img/terralab.jpg" alt="Proyecto 1">
            </figure>
            <div class="overlay">
              <p>Ver más</p>
            </div>
          </div>
        </div>
        <!-- Caja 5 -->
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
          <div class="box boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image  has-text-centered mx-auto">
              <img class="is-square-image" src="..//public/img/replica.png" alt="Proyecto 1">
            </figure>
            <div class="overlay">
              <p>Ver más</p>
            </div>
          </div>
        </div>
  
        <!-- Caja 6 -->
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
          <div class="box boximg hero-body is-flex is-align-items-center is-justify-content-center">
            <figure class="image has-text-centered mx-auto">
              <img class="is-square-image" src="..//public/img/sirep.png" alt="Proyecto 1">
            </figure>
            <div class="overlay">
              <p>Ver más</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-success">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <form class="box" style="max-width: 400px; margin: 0 auto;">
          <h1 class="title is-5 has-text-centered has-text-black">Iniciar un Proyecto</h1>
          <h2 class="subtitle is-6 has-text-black has-text-centered">¿Estás interesado en trabajar conmigo?</h2>
  
          <div class="field">
            <label class="label is-small">Nombre</label>
            <p class="control is-expanded has-icons-left">
              <input class="input is-small is-rounded" type="text" placeholder="Nombre">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label is-small">Email</label>
            <p class="control is-expanded has-icons-left has-icons-right">
              <input class="input is-small is-rounded" type="email" placeholder="Ej. alex@smith.com">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
  
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button class="button is-primary is-outlined is-rounded">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  
  
  
 

  <!-- Footer-->
  <footer class="footer">
    <div class="social-icons has-text-centered">
      <a href="URL-LinkedIn" target="_blank" class="icon is-large has-text-link">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="URL-WhatsApp" target="_blank" class="icon is-large has-text-success">
        <i class="fab fa-whatsapp fa-lg"></i>
      </a>
      <a href="URL-Gmail" target="_blank" class="icon is-large has-text-danger">
        <i class="far fa-envelope fa-lg"></i>
      </a>
      <a href="URL-GitHub" target="_blank" class="icon is-large has-text-dark">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="URL-Facebook" target="_blank" class="icon is-large has-text-primary">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <div class="phone-number">
        <p class="is-size-6 has-text-grey">Teléfono: +1234567890</p>
      </div>
    </div>
    <div class="footer-credits has-text-centered mt-auto">
      <p class="is-size-7 has-text-grey" style="line-height: 1.4;">Gracias por visitar mi portafolio.</p><br>
      <p class="is-size-7 has-text-grey">
        © 2024 Karen Ortega | Creado con
        <a href="https://bulma.io" class="is-inline-flex align-items-center" style="vertical-align: middle; margin-left: 5px;">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma" width="86" height="16">
        </a>
      </p>
    </div>
  </footer>
</body>
</html>

